@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/*font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #FFFFFF 16.62%, #353434 85.61%);

}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    padding: 21px;

}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 34px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 20px;
}

.cabecalho-menu-item:hover{
    background-color: #FFF2E7;
    border-radius: 5px;
    color: #181716;
}

.conteudo {
    margin-bottom: 20px;    
    border-top: 0.5px solid #fff2e7;
    
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 130px;
    color: #353434;
}

.conteudo-principal-escrito-titulo::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

 @keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;

    }
 }

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-left: 260px;
}

.conteudo-principal-escrito-subtitulo2{
    display: flex;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 20px;
    position: right;
}

.conteudo-principal-escrito-botao{
    background-color: #181716;
    color: white;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
    color: #181716;
}
.conteudo-principal-imagem {
    height: 700x;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top:  36px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-segundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #181716
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
    display: flex;
    align-items: center;
    flex-direction: row;    
    text-align: center;
    justify-content: space-around;

}

.rodape-imagem{
    height: 120px;
}